# Topics
* Data Types
* Variables, Keywords, Identifiers
* Input/Output
* Operators
* If-else statement
* Loop
* Function

# Data Types
* int
* float
* str
* boolean
* list
* tuple
* set
* dictionary

In [1]:
# Variable:That contains a value.
a = 5
b = -5
print(a)
print(b)
print(type(a))
print(type(b))

5
-5
<class 'int'>
<class 'int'>

In [5]:
c = 4.5
c

4.5

In [6]:
print(type(c))

<class 'float'>

In [11]:
d = 'machine learning'
print(type(d))

<class 'str'>

In [10]:
e = "data science"
e

'data science'

In [13]:
bool1 = True # 1
bool2 = False # 0
print(type(bool1))
print(type(bool2))

<class 'bool'>
<class 'bool'>

In [14]:
d = "machine learning"
f = '''machine
learning
course'''
print(d)
print(f)

machine learning
machine
learning
course

# an array is a data structure that can hold a collection of items, typically of the same type.
* list: a collection of items that are ordered and changeable. Allows duplicate members.
* tuple: a collection of items that are ordered and unchangeable. Allows duplicate members.
* set: a collection of items that are unordered and unindexed. No duplicate members.
* dictionary: a collection of items that are unordered and changeable. No duplicate members.

In [16]:
list1 = [1,2,3,4,5] # mutable
print(list1)

[1, 2, 3, 4, 5]

In [16]:
list2 = [1,2,3,4,5, "AI", "ML", [7,8,9]]
print(list2)

[1, 2, 3, 4, 5, 'AI', 'ML', [7, 8, 9]]

In [18]:
list2[6]

'ML'

In [19]:
list2[6] = "DS"
list2

[1, 2, 3, 4, 5, 'AI', 'DS', [7, 8, 9]]

In [20]:
list2[0] = 2
list2

[2, 2, 3, 4, 5, 'AI', 'DS', [7, 8, 9]]

In [21]:
tuple1 = (1,2,3,4,5) # immutable
tuple1

(1, 2, 3, 4, 5)

In [22]:
set1 = {1,2,3,4,5} # unique values
set1

{1, 2, 3, 4, 5}

In [23]:
set2 = {1,2,2,3,3,4,5}
set2

{1, 2, 3, 4, 5}

In [1]:
# operator
3 * 5

15

In [2]:
7 // 2

3

In [3]:
7 / 2

3.5

In [4]:
7 % 2

1

In [5]:
5 == 5

True

In [6]:
5 == 6

False

In [7]:
5 != 6

True

In [8]:
2 ** 3

8

In [9]:
3 ** 3

27

In [10]:
3 ** 2

9

In [9]:
result = int(input("Enter your result: "))
result

70

In [10]:
if result > 40:
    print("Passed")

Passed

In [11]:
if result > 40:
    print("Passed")
else:
    print("Failed")

Passed

In [12]:
if result < 40:
    print("Failed")
elif result <= 50:
    print("D")
elif result <= 60:
    print("C")
else:
    print("A")

A

# Loop

In [13]:
for i in range(5):
    print(i)

0
1
2
3
4

In [17]:
print(list2)

[1, 2, 3, 4, 5, 'AI', 'ML', [7, 8, 9]]

In [18]:
for i in list2:
    print(i)

1
2
3
4
5
AI
ML
[7, 8, 9]

In [19]:
a = 1
while a < 6:
    print(a)
    a = a + 1

1
2
3
4
5

# Function

In [20]:
def sum(a, b):
    return a + b

In [21]:
print(sum(5, 6))

11

In [23]:
def sum1(a, b):
    add = a + b
    return add
print(sum1(3, 2))

5